
/* Style Geral */
*{
    
    margin: 0;
    padding: 0;
    
}

body{    
    margin-left: 1em;
    font-family: 'Courier New', Courier, monospace;
    background:rgb(222, 222, 226);
}

header{  
    
    
}

.logo{
    height: 12vh;    
}

nav{      
    background: white;
    display: flex;
    justify-content: space-between;

   
  
}

ul{
    
    display: flex;
    margin-left: 3em;
    list-style: none;
}

a{
    text-decoration: none;

}



.img-vitrine{
    height: 25vh;
    width: 35vw;
}

footer{
    
    background:rgb(164, 164, 175);
}
