/* Style Geral */
* {
  margin: 0.2em;
  padding: 0;
}

body {

  font-family: "Courier New", Courier, monospace;
  background: rgb(222, 222, 226);
}

.logo {
  height: 20vh;
}

nav {
  background: rgb(222, 222, 226);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

#sobreNos{

}

.atc-sobreNos{
    text-align: center;
    letter-spacing: 0.2em;
}

#vitrine {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: ;
}

.vitrine1{
    font-size: 2em;
    margin-top: 3em;
    text-align: center;
}



.img-vitrine {
  height: 40vh;
  width: 45vw;
}

footer {
  background: rgb(164, 164, 175);
}

.icon{
    width: 5vw;
    height: 10vh;
    border-radius: 1em;
}
