body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

div {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

#main-container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(3, 1fr);
  row-gap: 1em;
  column-gap: 1em;
}

#first-block {
  background-color: red;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 4;
}

.blue-block {
  background-color: blue;
  display: grid;
  justify-items: center;
  align-items: center;
}

.yellow-block {
  background-color: yellow;
  display: grid;
  justify-items: center;
  align-items: center;
}

.green-block1 {
  background-color: green;
  display: grid;
  justify-items: center;
  align-items: center;
}

.green-block2 {
  background-color: green;
  display: grid;
  justify-items: center;
  align-items: center;
}

.black-block {
  background-color: black;
  color: white;
  height: 16rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.div-black {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 4;
  column-gap: 1em;
  border: none;
}

.white-block1 {
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}

.white-block2 {
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}

.white-block3 {
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}

@media screen and (max-width: 500px) {
  #main-container {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 1em;
  }

  .green-block1 {
    display: grid;
    grid-row-start: 3;
    grid-column: 1 / 3;
  }
  .green-block2 {
    display: grid;
    grid-row-start: 5;
    grid-column: 1 / 3;
  }

  .blue-block {
    display: grid;
    grid-column-start: 1;
  }

  .div-black {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    column-gap: 1em;
    border: none;
  }

  .white-block1 {
      height: 5em;
    display: grid;
    grid-row-start: 8;
  }

  .white-block2 {
    display: grid;
    grid-row-start: 8;
  }

  .white-block3 {
    height: 5em;
    display: grid;
    grid-row-start: 9;
    grid-column: 1 / 3;
  }
}
