body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

div {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

#main-container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

#first-block {
  background-color: red;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 4;
}

.blue-block {
  background-color: blue;
  display: grid;
  justify-items: center;
  align-items: center;
}

.yellow-block {
  background-color: yellow;
  display: grid;
  justify-items: center;
  align-items: center;
}

.green-block {
  background-color: green;
  display: grid;
  justify-items: center;
  align-items: center;
}

.black-block {
  background-color: black;
  color: white;
  height: 16rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.div-black {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-column: 1 / 4;
  column-gap: 10px;
  border: none;
}

.white-block {
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-start: 5;
}
