html{
    background: rgb(140, 180, 140);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color: #129;
}

p{
    font-size: 20px;
    color: darkgoldenrod;
}

header{
    background: #ccc;
}

ul{
    list-style: none;    
}

nav{
    background: rgb(140, 180, 140);
    height: 40px;
}

.li-nav{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 5px;
    border: solid #ccc 1px;
    
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

img{
    width: 550px;
    height: auto;
    border-radius: 10px;
}

li{
   font-size: 20px;  

}

